:8080 {
	@health path /health
	handle @health {
		respond "ok" 200
	}

	handle /app* {
		basic_auth {
			{$JOBHUNTER_BASIC_AUTH_USER} {$JOBHUNTER_BASIC_AUTH_HASH}
		}
		reverse_proxy web:8501 {
			flush_interval -1
			header_up Host {http.request.host}
			header_up X-Forwarded-Host {http.request.host}
			header_up X-Forwarded-Proto https
			header_up X-Forwarded-Port 443
		}
	}

	handle {
		root * /srv/landing
		file_server
	}
}
